form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
}
.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 500px;
    height: 60vh;
    border: 1px solid grey;
    border-radius: 20px;
}
input {
    height: 40px;
    width: 350px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 15px;
}
button {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #65CAD1;
    color: black;
    font-size: 18px;
}