<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/aboutus.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body >

<header th:replace="~{/fragments/header.html}"></header>
<main style="background-color: floralwhite">
  <div class="main-div" >
    <h2 class="h2-title">About us</h2>
    <p class="paragraph"> Welcome to EazyMart,  your one-stop destination for all your shopping needs. We are dedicated to providing you with a seamless and enjoyable online shopping experience, offering a wide range of high-quality products at competitive prices.

    </p>

    <h2 class="h2-title">Our Mission</h2>
    <p class="paragraph"> At EazyMart, our mission is to empower customers to discover, explore, and purchase products with confidence. We strive to create an inclusive and convenient platform that caters to diverse tastes and preferences. Customer satisfaction is at the heart of everything we do, and we continuously aim to exceed your expectations.


    </p>

    <h2 class="h2-title">Wide Selection of Products</h2>
    <p class="paragraph"> Explore our extensive collection of products across various categories, including electronics, fashion, home decor, beauty, health, and much more. Our team tirelessly curates the best products from trusted brands and sellers, ensuring you have access to the latest trends and timeless classics.

    </p>

    <h2 class="h2-title">Quality Assurance</h2>
    <p class="paragraph"> We prioritize quality above all else, and each product on our platform undergoes rigorous testing and quality checks before being made available for purchase. Rest assured that when you shop with us, you are getting the best value for your money.

    </p>

    <h2 class="h2-title">Customer Support</h2>
    <p class="paragraph"> Have a question or need assistance? Our dedicated customer support team is always ready to help. Whether you need product information, order tracking, or have any concerns, we are just a message or call away.

    </p>

    <p class="paragraph"> Thank you for choosing EazyMart. We look forward to serving you and providing an exceptional online shopping experience.
</p>

    <p class="paragraph align-right">Happy shopping!</p>

    <p class="paragraph">Team EazyMart</p>


  </div>
</main>

<footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>