<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/add_products.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>

<div class="grid-container" style="background-color: #E3E6F3">

    <header class="header" style="background-color: #E3E6F3">
        <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
        </div>
        <div class="main-title">
            <h2>Add Products</h2>
        </div>

    </header>

    <aside id="sidebar">

        <div class="sidebar-title">
            <img th:src="@{/images/admin.png}" height="40px" width="40px" alt="">
            <h4 class="profile-text" th:text="${info.getName()}"></h4>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a th:href="@{/admin/order-list}">Order List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/user-list}">User List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/add-products}">Add Products</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/products-list}">Products List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/queries}">Query Section</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/settings}">Settings</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </aside>

    <!--Main-->
    <main class="main-container" style="background-color: #E3E6F3">
        <form th:method="post" th:action="@{/admin/save/products}" th:object="${products}" enctype="multipart/form-data">
            <div class="form-fields">
                <input type="number" hidden="hidden" name="id" th:field="*{id}" th:value="${products.id}">
                <input type="file" name="photo" accept="image/*" id="photo" class="form-control-file" required>
                <input type="text" name="name" id="name" placeholder="Enter the product's name..." required th:field="*{name}">
                <input type="text" name="quantity" id="quantity" placeholder="Enter the product's quantity..." required th:field="*{quantity}">
                <input type="text" name="price" id="price" placeholder="Enter the product's price..." required th:field="*{price}">
                <button type="submit">Add product</button>
            </div>
        </form>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/admin_dashboard.js}"></script>
</body>
</html>