<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/admin_dashboard.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>

<div class="grid-container">

    <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
        </div>
        <div class="main-title">
            <h2>DASHBOARD</h2>
        </div>

    </header>

    <aside id="sidebar">

        <div class="sidebar-title">
            <img th:href="@{/images/admin.png}" height="40px" width="40px" alt="">
            <h4 class="profile-text" th:text="${info.getName()}"></h4>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a th:href="@{/admin/order-list}">Order List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/user-list}">User List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/add-products}">Add Products</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/products-list}">Products List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/queries}">Query Section</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/settings}">Settings</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </aside>

    <!--Main-->
    <main class="main-container">

        <div class="main-cards">

            <div class="card">
                <div class="card-inner">
                    <h3>TOTAL PRODUCTS</h3>
                </div>
                <h1>249</h1>
            </div>

            <div class="card">
                <div class="card-inner">
                    <h3>ORDERS</h3>
                </div>
                <h1>25</h1>
            </div>

            <div class="card">
                <div class="card-inner">
                    <h3>TOTAL SELLS</h3>
                </div>
                <h1>25000</h1>
            </div>

        </div>

        <div class="charts">

            <div class="charts-card">
                <h2 class="chart-title">Top 5 Products</h2>
                <div id="bar-chart"></div>
            </div>

            <div class="charts-card">
                <h2 class="chart-title">Sales Orders</h2>
                <div id="area-chart"></div>
            </div>

        </div>

    </main>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin_dashboard.js}"></script>
</body>
</html>