<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_settings.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>

<div class="grid-container">

    <header class="header" style="background-color: #E3E6F3">
        <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
        </div>
        <div class="main-title" >
            <h2>Settings</h2>
        </div>

    </header>

    <aside id="sidebar">

        <div class="sidebar-title">
            <img th:src="@{/images/admin.png}" height="40px" width="40px" alt="">
            <h4 class="profile-text" th:text="${info.getName()}"></h4>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list" >
            <li class="sidebar-list-item">
                <a th:href="@{/admin/order-list}">Order List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/user-list}">User List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/add-products}">Add Products</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/products-list}">Products List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/queries}">Query Section</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/settings}">Settings</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </aside>

    <!--Main-->
    <main class="main-container" style="background-color: #E3E6F3">
        <form>
<!--            <div class="profile-pic">-->
<!--                <input type="file" name="profile-picture" id="profile-picture">-->
<!--                <button class="update-button" type="submit">Update</button>-->
<!--            </div>-->
            <div class="field-box">
                <input type="password" name="old-password" id="old-password" placeholder="Enter your old password">
                <input type="password" name="new-password" id="new-password" placeholder="Enter the new password">
                <input type="password" name="confirm-new-password" id="confirm-new-password" placeholder="Confirm your new password">
                <button type="submit">submit</button>
            </div>
        </form>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/admin_dashboard.js}"></script>
</body>
</html>