<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main>
  <form th:action="@{/user/request-password-reset}" method="post">
    <div class="title">
      <h2>Forgot password</h2>
    </div>
    <div class="fields">
      <input type="email" name="email" placeholder="Enter your email address..." required autofocus/>
      <button type="submit">Send Verification</button>
      <h5>Back to Login? <a th:href="@{/login}">click here!</a></h5>
    </div>
  </form>
</main>
</body>
</html>