<footer>
    <div class="footerleftsection">
        <div class="footerlogo">
<!--            <img class="footer-img" th:src="@{/images/1.png}" width="40" height="40" >-->
        </div>
        <div class="footer-description">
            <p class="footer-describe">Unlock a world of convenience and style – Shop at EazyMart today!
                Your ultimate online shopping destination as it brings the best experience for you to get online products from the comfort of your home.</p>
            </p>
        </div>
        <div class="coonections">
            <nav>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-a" href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="footer-li"><a class="footer-a" href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="footer-li"><a class="footer-a" href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-li"><a class="footer-a" href=""><i class="fa-brands fa-youtube"></i></a></li>
                    <li class="footer-li"><a class="footer-a" href=""><i class="fa-brands fa-pinterest"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footermiddlesection">
        <nav>
            <ul class="footermiddleul">
                <li class="footerliheader">QuickLinks</li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/user/profile}">My Profile</a></li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/cart}">My cart</a></li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/user/contact}">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="footerrightsection">
        <nav>
            <ul class="footermiddleul">
                <li class="footerliheader">Shopping</li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/dashboard}">Home</a></li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/dashboard#products-section}">Products</a></li>
                <li class="footermiddleli"><a class="footermiddlea" th:href="@{/aboutus}">About Us</a></li>
            </ul>
        </nav>
    </div>
</footer>